<main class="principal">
  <h2 class="principal__titulo">Dados do cadastro</h2>

  <form 
    #f="ngForm" 
    class="principal__formulario" 
    id="formulario" 
    (ngSubmit)="cadastrar(f)">
    <h3 class="principal__subtitulo">Dados pessoais</h3>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="nome">Nome Completo</label>
      <input 
        #nome="ngModel"
        name="nome" 
        id="nome" 
        class="campo__escrita"
        ngModel
        required
        minlength="3"
      >
      <div *ngIf="nome?.touched">
        <app-messages
          *ngIf="nome?.errors?.['required']" 
          message="Campo Nome deve ser preenchido"
        >   
        </app-messages><app-messages
          *ngIf="nome?.errors?.['minlength']"
          message="Nome deve ter no mínimo 3 caracteres"
        >   
        </app-messages>
      </div>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="nascimento">Nascimento</label>
        <input 
          #nascimento="ngModel"
          name="nascimento" 
          id="nascimento" 
          type="date" 
          class="campo__escrita"
          ngModel
          maiorIdadeValidator
        />
        <div *ngIf="nascimento?.touched">
          <app-messages
            *ngIf="nascimento?.errors?.['required']" 
            message="Data de Nascimento deve ser preenchida">   
          </app-messages>
          <app-messages
            *ngIf="nascimento?.errors?.['maiorIdadeValidator']" 
            message="O usuário deve ter mais de 18 anos">   
          </app-messages>
        </div>
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="telefone">Contato</label>
        <input 
          #telefone="ngModel"
          name="telefone" 
          id="telefone" 
          type="tel" 
          placeholder="(XX) XXXXX-XXXX" 
          class="campo__escrita"
          ngModel
          required
          pattern="(\(?\d{2}\)?\s?)(\d{5}\-?\d{4})"
        />
        <div *ngIf="telefone?.touched">
          <app-messages
            *ngIf="telefone?.errors?.['required']"
            message="Telefone deve ser preenchido">
          </app-messages>
          <app-messages
            *ngIf="telefone?.errors?.['pattern']"
            message="Deve ser um telefone válido">            
          </app-messages>
        </div>
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="email">E-mail</label>
      <input 
        #email="ngModel"
        name="email" 
        id="email" 
        type="email" 
        class="campo__escrita"
        required
        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        ngModel
      />
      <div *ngIf="email?.touched">
        <app-messages
          *ngIf="email?.errors?.['required']"
          message="E-mail deve ser preenchido">
        </app-messages>
        <app-messages
          *ngIf="email?.errors?.['pattern']"
          message="Deve ser um e-mail válido">
        </app-messages>
      </div>
    </div>


    <h3 class="principal__subtitulo">Endereço</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="cep">CEP</label>
      <input 
        #cep="ngModel"
        name="cep" 
        id="cep" 
        class="campo__escrita" 
        ngModel
        required
        pattern="^(\d{5})(-?\d{3})$"
        minlength="8"
        maxlength="9"
        (blur)="consultaCEP($event, f)"
        validadorCep
      />
      <div *ngIf="cep?.touched">
        <app-messages
          *ngIf="cep?.errors?.['required']"
          message="CEP é obrigatório">
        </app-messages>
        <app-messages
          *ngIf="cep?.errors?.['pattern']"
          message="Informe um CEP válido">
        </app-messages>
        <app-messages
          *ngIf="cep?.errors?.['validadorCep']"
          message="O CEP informado não existe">
        </app-messages>
      </div>
      <div id="erro"></div>
    </div>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="endereco">Endereço</label>
      <input 
        #endereco="ngModel"
        name="endereco" 
        id="endereco" 
        class="campo__escrita" 
        ngModel
        required
      />
      <div *ngIf="endereco?.touched">
        <app-messages
          *ngIf="endereco?.errors?.['required']"
          message="Endereço é obrigatório">
        </app-messages>
      </div>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="numero">Numero</label>
        <input 
          #numero="ngModel"
          name="numero" 
          id="numero" 
          class="campo__escrita"
          ngModel
          required
        />
        <div *ngIf="numero?.touched">
          <app-messages
            *ngIf="numero?.errors?.['required']"
            message="Número é obrigatório">
          </app-messages>
        </div>
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="complemento">Complemento</label>
        <input 
          #complemento="ngModel"
          name="complemento" 
          id="complemento" 
          class="campo__escrita"
          ngModel
          required
        />
        <div *ngIf="complemento?.touched">
          <app-messages
            *ngIf="complemento?.errors?.['required']"
            message="Completo é obrigatório">
          </app-messages>
        </div>
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="bairro">Bairro</label>
      <input 
        #bairro="ngModel"
        name="bairro" 
        id="bairro" 
        class="campo__escrita"
        ngModel
        required
      />
      <div *ngIf="bairro?.touched">
        <app-messages
          *ngIf="bairro?.errors?.['required']"
          message="Bairro é obrigatório">
        </app-messages>
      </div>
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="cidade">Cidade</label>
        <input 
          #cidade="ngModel"
          name="cidade" 
          id="cidade" 
          class="campo__escrita" 
          ngModel
          required
        />
        <div *ngIf="cidade?.touched">
          <app-messages
            *ngIf="cidade?.errors?.['required']"
            message="Cidade é obrigatória">
          </app-messages>
        </div>
      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="estado">UF</label>
        <select id="estado" name="estado" class="campo__escrita">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>
      </div>

    </div>
    <button type="submit" class="formulario__botao">Enviar formulário</button>
    </form>
</main>
